body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: #666;
    margin-bottom: 30px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}

strong {
    color: #d23a3a;
}

.cta-button {
    display: inline-block;
    background-color: #ffcc00; /* Amarelo vibrante */
    color: #333;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 40px;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: 30px;
}

.cta-button:hover {
    background-color: #e6b800; /* Cor amarela mais escura no hover */
}

.image-container img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.footer {
    font-size: 12px;
    color: #888;
    margin-top: 40px;
    text-align: center;
    padding: 20px 0;
}


@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .cta-button {
        font-size: 18px;
        padding: 12px 30px;
    }
}